.container{
    background-color: #fff;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem 2rem;
    margin-top: 16px;
}

.title{
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 8px;
    color: #0072BB;
    text-align: center;
}

.productsContainer{
    display: flex;
    gap: 16px;
    align-items: center;
}
.content{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid transparent;
    height: 400px;
    width: 240px;
    justify-content: space-between;
    transition: 300ms;
}
.itemImage{
    width: 100%;
    height: 230px;
    object-fit: contain;
}
.itemLink{
    opacity: 0.3;
    text-decoration: none;
    color: inherit;
    transition: 300ms;
}
.itemPrice{
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 800;
    color: #0072BB;
}
.unselectToBuy{
    background: transparent;
    border: 3px solid #0072BB;
    color: #0072BB;
    padding: 8px 4px;
    font-weight: 700;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 300ms;
}
.selectToBuy{
    background: #0072BB;
    border: 3px solid transparent;
    color: #fff;
    padding: 8px 4px;
    font-weight: 700;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 300ms;
}
.itemSelected{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #ddd;
    height: 400px;
    width: 240px;
    justify-content: space-between;
    transition: 300ms;
    opacity: 1;
}
.itemSelected .itemLink{
    transition: 300ms;
    opacity: 1;
}


.confirmationContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.confimationPrices{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #777;
    flex-wrap: wrap;
    max-width: 350px;
}
.totalText{
    display: none;
}
.listPrice{
    display: flex;
    width: 100%;
    gap: 5px;
}
.listPrice .currencyContainer{
    text-decoration: line-through;

}
.totalPrice{
    display: flex;
    gap: 5px;
    width: 100%;
    font-size: 32px;
    font-weight: 800;
    color: #0072BB;
}

.confirmationButton{
    background: #00cc00;
    border: none;
    color: #fff;
    padding: 16px 8px;
    font-weight: 700;
    border-radius: 0.6rem;
    cursor: pointer;
    max-width: 300px;
    text-transform: initial;
}

@media screen and (max-width: 1024px){
    .container{
        padding: 0;
    }

    .item, .itemSelected{
        min-width: 240px;
    }
    .productsContainer{
        overflow-x: auto;
    }
}