.containerKitLook .titlekit{
    color: #1f201e;
    font-weight: bold;
    font-size: 25px;
}
.containerKitLook .contentKit{
    list-style: none;
    padding: 0;
}
.containerKitLook .contentKitItem{
    margin: 5px 0;
    background:#F0F0EF;
    padding: 2px;
}
.containerKitLook .contentKitItemInfo{
    display: -ms-flexbox;
    display: flex;
    padding: 2px;
    margin-bottom: 5px;
}
.containerKitLook .contentKitItemInfo .contentKitItemleft{
    max-width: 170px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}
.containerKitLook .imgSkukit{
    max-height: 75px;
}
.containerKitLook .contentKitItemRight{
    width: 100%;
}
.containerKitLook .contentKitItemRight .contentKitName{
    font-weight: 600;
    font-size: 0.7rem;
    margin: 2px 0;
    color: #000;
}
.containerKitLook .contentKitReferencia{
    font-size: 0.6rem;
    display: none;

}
.containerKitLook .contentKitItemRight .contentKitPrice{
    font-weight: 600;
    margin: 3px 0;
    color: #0072BB;
    font-size: 1.0rem;
}
.containerKitLook .contentKitItemRight .contentKitBtn{
    border-radius: 8px;
    margin-top: 2px;
    height: 28px;
    background: #6BB947;
    border: 1px solid #6BB947;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 210px;
}
.containerKitLook .contentKitItemRight .contentKitBtnLink{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
}
.containerKitLook .inputGroupSelecionar{
    margin-top: 10px;
}
.containerKitLook .inputSelecionar{
    margin-right: 10px;
}
.containerKitLook .contentKitSelectedsBtnLink{
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    background: #6BB947;
    border: 1px solid #6BB947;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 380px;
} 
.containerKitLook .contentKitSelectedsBtnLink{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
/* Mobile */
@media (max-width: 1023px) {
    .containerKitLook .contentKitItemInfo .contentKitItemleft{
        max-width: initial;
        width: 100%;
    }
    .containerKitLook .contentKitItemInfo{
        display: block;
    }
}