.paper {
    position: relative;
}

.closeButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.triggerElement {
    background: #E5A100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0.5rem 0.6rem;
    border-radius: 5px;
    column-gap: 0.4rem;
    cursor: pointer;
}

.triggerIcon {
    width:30px;
    height:30px;
    fill: #fff;
}

.localizationWrapper {
    padding: 2rem;
}

.localizationTitle {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.localizationText {
    font-size: 1rem;
}

.localizationInputWrapper {
    display: inline-block;
    margin-right: 0.5rem;
}
.localizationInput {
    padding: 0.68rem;
    border-radius: 5px;
    border: 1px solid;
}

.localizationButton {
    background: #0072BB;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: .8rem 1rem;
    cursor: pointer;
}
@media (max-width: 767.98px){
    .triggerLocation {
        display:none;
    }

    .localizationInput {
        width: 130px;
    }
    .triggerElement {
        background: #fff;
    }
    .triggerIcon {
        fill: #fcb900;
    }
}

