.newsletterForm {
    display: flex;
    max-width: 700px;
}

.emailInputContainer {
    flex-grow:1;
    margin-right: -1rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.defaultSuccessMessage {
    color: #fff;
    border: 1px solid #0072BB;
    padding: 1rem;
    margin: 0px;
    display: block;
    text-align: center;
    border-radius: 0.3rem;
    background: #8bc34a1f;
    text-transform: uppercase;
    font-weight: 500;
}
.formSubmitContainer :global(.vtex-button){
    position: relative;
    width: 70px;
}
.newsletterForm--news .formSubmitContainer :global(.vtex-button){
    border: 0;
    background: #282D2F;
}
.formSubmitContainer :global(.vtex-button)::after{
    content: url(assets/svg/seta-news.svg);
}
.formSubmitContainer :global(.vtex-button__label){
    font-size: 0px;
}
.newsletterForm--news{
    align-items: center;
}
.emailInputContainer :global(.vtex-styleguide-9-x-input){
    background: #fff;
}