:global(.vtex-slider-layout-0-x-slideChildrenContainer--slidercategory){
    text-align: center;
}
.paginationDotsContainer{
    bottom: -15px;
}
.paginationDot--carousel{
    background: #0072BB;
}
.paginationDot--carousel--isActive{
    background:#282D2F;
    width: 1.625rem !important;
    border-radius: 20px;
}
.sliderTrackContainer--slidercategory{
    padding: 0 25px;
}
.slideChildrenContainer--sliderbenefits{
    display: block !important;
  }
.sliderLayoutContainer--banner-faixa-content{
    max-width: 96rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.caretIcon--sliderbenefits{
    color: #0072BB;
}
.slide--slidercategory{
    padding: 0 10px;
}
.sliderLeftArrow--slidercategory, .sliderRightArrow--slidercategory{
    background-color: #0072BB !important;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
  }
  .sliderLeftArrow--slidercategory .caretIcon, .sliderRightArrow--slidercategory .caretIcon{
      color: #fff;
  }
  .slide--sliderminibanners{
      padding: 5px;
  }