.container--shelf :global(.vtex-product-summary-2-x-nameContainer) {
  justify-content: left;
}
.container--shelf{/*padding: 10px;*/position: relative;max-width: 230px !important;min-height: 480px;}

.element--shelf .brandName{
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 14px;
  color: #000;
  font-weight: 700;
}
.productBrandContainer{
  text-align: left;
  width: max-content;
  padding: 2px 10px;
  background: #EDECEC;
  color: #717171;
  border-radius: 2px;
  margin-bottom: 15px;
}
.nameContainer{
  justify-content: left;
}
.element--shelf .nameContainer{
  padding-bottom: 0;
  font-size: 16px;
  min-height: 75px;
  text-align: left;
}
.priceContainer{
  padding: 0.5rem 0;
}
.element--shelf{
  border: 0.85px solid #D9D9D9;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
}

.element--shelf :global(.vtex-button){
  background: #00cc00;
  color: #fff;
  text-transform: inherit;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  margin-top: 15px;
  border: 1px solid #00cc00;
  font-weight: 600;
  height: 50px;
}
.element--shelf :global(.vtex-button__label){
  padding: 0;
}
.sellingPrice{
  color: #0072BB;
  font-size: 33px;
  font-weight: bold;
} 

/* LISTS E GRID SEARCH */

.container--listLayout{
  max-width: none!important;
}
.brandName{
  font-size: 16px;
}
.productBrand--summaryListDesktop{
  font-size: 16px;
  font-weight: 600;
}
.container--shelf :global(.vtex-product-price-1-x-spotPriceSavings){
  display: none;
}

/* Mobile */
@media (max-width: 1023px) {
  .element--shelf{
    padding: 5px;
  }
}