.trigger--question {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.trigger--question :global(.vtex-rich-text-0-x-paragraph) {
  font-weight: bold;
}

.trigger--question:focus,
.trigger--question:focus :global(.vtex-rich-text-0-x-paragraph) {
  color: #282D2F;
}

.trigger :global(.vtex-store-icons-0-x-caretIcon) {
  margin-right: 1rem;
}

.content--answer {
  transition: opacity 250ms ease-in-out, height 250ms ease-in-out, transform 250ms ease-in-out;
  opacity: 0;
  height: 0;
  transform: translate3d(0, -10%, 0);
}

.content--answer[data-enter] {
  opacity: 1;
  height: fit-content;
  transform: translate3d(0, 0, 0);
}

.content--answer[data-leave] {
  height: 0;
  overflow: hidden;
}


.trigger--disclosure-title-footer{
    background: #fff;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    margin-bottom: 5px;
}
.trigger--disclosure-title-footer :global(.vtex-rich-text-0-x-container){
  height: 45px;
  padding: 10px 0;
}
.trigger--disclosure-title-footer :global(.vtex-rich-text-0-x-paragraph){
  color: #231F20 !important;
  font-size: 1.125rem;
  margin-bottom: 0;
  font-weight: bold;
  padding-left: 10px;
}
.trigger :global(.vtex-store-icons-0-x-caretIcon) {
  margin-left: 1rem;
  color: #0072BB;
}
.content--disclosure-title-footer-mob{
  padding: 10px 0;
}
.content--disclosure-title-footer-mob :global(.vtex-rich-text-0-x-link){
  color: #585858;
  font-size: 18px;
}
/* Mobile */
@media (max-width: 1023px) {
  .trigger--disclosure-title-footer :global(.vtex-rich-text-0-x-container){
    width: 100%;
  }
}


/*PÁGINA DE PRODUTO*/
.trigger--disclosure-title-produto{
  display: flex;
  align-items: center;
}
.content--disclosure-content-produto{
  padding-left: 1rem;
  padding-right: 1rem;
}
.content :global(.vtex-rich-text-0-x-headingLevel4){display: none;}

/* Menu drawer*/
.trigger--disclosure-title-menu-drawer{
  display: flex;
  align-items: center;
  width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;
}
.trigger--disclosure-title-menu-drawer :global(.vtex-rich-text-0-x-paragraph){
  font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    line-height: 24px;
    padding: 0px;
}
.content--disclosure-title-drawer :global(.vtex-rich-text-0-x-link){
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #717171;
  text-decoration: none;
}
.content--disclosure-title-drawer :global(.vtex-rich-text-0-x-strong){
  color: #0072BB;
}
/* Mobile */
@media (max-width: 1023px) {
  .trigger--disclosure-title-menu-drawer :global(.vtex-rich-text-0-x-paragraph){
    font-size: 18px;
      line-height: 18px;
  }
}