.link--duvidas-bottom-tel{
    text-decoration: none;
    margin-left: 10px;
    color: #717171;
}
.link--duvidas-tel{
    color: #717171;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
.label--duvidas-tel{
    color: #717171;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
.link--col-store-list-whatsapp{
    font-size: 14px;
    text-decoration: none;
    color: #858585;
}
.link--col-store-list-whatsapp::before{
    content: 'Whatsapp: ';
    font-weight: bold;
}
.link--col-store-list-telefone{
    font-size: 14px;
    text-decoration: none;
    color: #858585;
}
.link--col-store-list-telefone::before{
    content: 'Telefone: ';
    font-weight: bold;
}
.link--footer-contato-link{
    color: #717171;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 28px;
    margin-bottom: 20px;
}
.link--footer-contato-link::before{
    height: 25px;
    position: absolute;
    left: 0;
}
.label--contato-telefone, .label--contato-whats{
    font-weight: 700;
}
.label--contato-telefone::before, .label--contato-whats::before{
    content: '(48) ';
    font-weight: 400;
}
.label--contato-whats::after{
    content: ' (WhatsApp) ';
    font-weight: 400;
}

.link--contato-email::before{
    content:url('assets/svg/contato-email.svg');    
}
.link--contato-telefone::before{
    content:url('assets/svg/contato-tel.svg');    
}
.link--contato-whats::before{
    content:url('assets/svg/contato-whats.svg');    
}
.link--contato-horario::before{
    content:url('assets/svg/contato-horario.svg');    
}
.childrenContainer--whatsappLinkFixed{
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 99999;
}
.link--link-drawer{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    margin: 25px 0 0;
    display: block;
}
@media (max-width: 1024px){
    .link--link-drawer{
        font-size: 18px;
    }
}