.groupName {
    display: none;
}

.specificationName {
    color: #0072BB;
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    padding-bottom: 0.25em;
    position: relative;
    margin: 20px 0;
}

.specificationName::after {
    content: "";
    display: block;
    background: #0072BB;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 150px;
}

.specificationValue {
    line-height: 1.3rem;
}