
.minicartQuantityBadge {background: #212220;width: 10px;height: 10px;right: -0.5rem;}
.overlay--visible{
    opacity: 0.7 !important;
  background-color: #000;
}
@media screen and (max-width: 760px) {
.openIconContainer{
  padding: 0.2rem;
}
}