.listContainer {
  justify-content: left;
}
.listItem :global(.vtex-button){
  background: #EDECEC;
  border-radius: 2px;
  font-size: 14px;
  text-transform: initial;
  min-width: 290px;
  height: 50px;
  color:#717171;
  font-weight: 700;
}
.listItemActive :global(.vtex-button){
  background: #0072BB;
  border-radius: 2px;
  font-size: 14px;
  text-transform: initial;
  color: #fff;
}
.container--ficha_tabs{
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 96rem;
    margin-right: auto;
    margin-left: auto;
}
.listItem{
  padding: 0px !important;
}


@media (max-width: 1024px){
  .listItem :global(.vtex-button){
    width: 100%;
  }
  .listItem{
    width: 100%;
  }
  }