.title {
    color: #0072BB;
  font-size: 23px;
  padding-bottom: 8px;
  font-weight: 700;
  text-align: center;
}

:global(.vtex-shelf-1-x-container) :global(.vtex-shelf-1-x-title){
    display:none;
}
.arrow{
    background: #0072BB;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--shelfvitrine) .caretIcon{
    color: #fff;
    height: 12px;
}
.sliderContainer{
    padding: 10px;
}
.arrowLeft{
    left: -10px !important;
}
.arrowRight{
    right: -10px;
}
@media (max-width: 1023px) {
    .sliderContainer{
        padding: 0px;
    }
  }