/*TOP BAR*/
.flexRow--flex-top-bar{
  width: 100%;
}
.flexRowContent--flex-top-bar{
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content:center;
}
.flexRowContent--flex-top-bar .stretchChildrenWidth{
  width: auto !important;
  padding: 0 10px;
}
.flexCol--menu-categorias-container {
  background: #fff;
  border-radius: 0.5rem;
}
.flexRow--menu-link-top{
  background: #0072BB;
}
.flexRowContent--menu-link-top{
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 96rem;
}
.flexRowContent--menu-categorias-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.flexCol--menu-categorias-container :global(.vtex-rich-text-0-x-headingLevel2) {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.flexCol--grid-shelf-spotlight {
    background: #fff;
    border-radius: 0.5rem; 
}
:global(.vtex-flex-layout-0-x-flexRow--pg-institucional) :global(.vtex-rich-text-0-x-paragraph){
  text-align: justify;
}
.flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-searchResultContainer)  {
  padding: 0;
}

.flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-gallery) {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin:0;
}

.flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-galleryItem) {
  padding: 0;
  flex-basis: 100% !important;
  max-width: 100% !important;
}

.flexCol--grid-shelf-grid :global(.vtex-product-summary-2-x-container) {
  margin: 0;
  max-width: 100% !important;
}

.flexRow .flexCol--colshelfpromo {
  background: #fff;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}

.flexCol--colshelfpromo :global(.vtex-product-summary-2-x-container) {
  max-width: 400px!important;
}
.flexCol--colshelf02 :global(.vtex-search-result-3-x-gallery) {
  padding-left: 0;
}
.flexRow--shelfsbottom .flexRowContent {
  flex-wrap: wrap;
  margin-top:1rem;
}
.flexRowContent--shelfvitrine {
  flex-wrap: wrap;
  margin-top:1rem;
}

.flexRow--shelfsbottom .flexCol--shelfsbottom04 {
  margin-top: 2rem;
  height: auto;
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-sliderArrows),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-sliderArrows) {
  background-color: #0072BB !important;
  border-radius: 0.5rem;
  padding: 0.6rem 0.8rem;
  box-shadow: -3px 3px 8px 0px rgba(0,27,47,0.20);
}

.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-arrow) {
  background-color: #0072BB !important;
  border-radius: 100%;
  padding: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-caretIcon),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-caretIcon),
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-caretIcon) {
  filter: invert(1);
  height: 12px;
  color: #fff !important;
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-sliderRightArrow),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-sliderRightArrow){
  right: -1rem;
}
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-arrowRight) {
  right: -13px;
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-sliderLeftArrow),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  left: -1rem;
}
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-arrowLeft) {
  left: -13px;
}
.flexRowContent--main-header-mobile {
  align-items: center;
}

.flexRow--footer-content-row {
  color: #585858;
  padding: 30px 0;
  background: #fff;
}
.flexRow--newsletter-row{
  background: #fff;
}
.flexRow--footer-bottom-row {
  color: #585858;
}

.flexRowContent--newsletter-row {
  padding: 1rem 0;
}

.flexRowContent--newsletter-row {
  align-items: center;
}
.flexRowContent--newsletter-row  .stretchChildrenWidth{
  justify-content: left;
}   

:global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-form){
  max-width: 42rem;
  color: #fff;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-inputGroup){
  background: #D8D7D5;
    border-radius: 30px;
    height: 50px;
    padding: 0;
    margin-top: 15px;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-input-prefix__group){
  border: 0;
  border-radius: 30px;
  height: 50px;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input){
  background: #D8D7D5;
    border: 0;
    height: 50px;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-button){
  background: #585858;
  border: 0;
  border-top-left-radius: 68px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 50px;
}

.flexRowContent--product-main-container, 
.flexRowContent--product-description, 
.flexRowContent--product-reviews,
.flexRowContent--buy-together,
.flexRowContent--menu-categorias,
.flexRowContent--questions-and-answers {
    background:#fff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top:0;
}
.flexRow--productPrice{
  margin-top: 25px;
}
.flexRowContent--pdp-view-buy{
  margin-bottom: 3rem;
}
.flexRowContent--product-description, .flexRowContent--product-reviews, .flexRowContent--questions-and-answers,
.flexRowContent--col-shelf-02 {
  flex-wrap: wrap;
}
.flexRowContent--product-description :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--product-reviews :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--questions-and-answers :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  padding-right: 0;
}
.flexRowContent--tabs-pdp {
  border-bottom: 2px solid #c4c4c4;
}

.flexRowContent--menu-categorias--bottom1--row .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--productSpecification {
  margin-bottom: 1rem;
}
.flexColChild--productSpecificationName {
  padding-bottom: 0;
}

.flexRow--productSpecification .stretchChildrenWidth {
  padding-bottom: 1rem;
}
.flexRowContent--menu-departamentos, .flexRowContent--menu-departamentos-title, .flexRowContent--results-row-desktop{
  flex-wrap: wrap;
}
.flexRowContent--menu-departamentos-title .flexCol--menu-departamentos-title-col{
  background:#fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
  flex-direction: row;
}

.flexCol--menu-departamentos-title-col :global(.vtex-rich-text-0-x-paragraph) {
  margin:0;
}

.flexRowContent--menu-departamentos-title .flexColChild--menu-departamentos-title-col, .flexRowContent--menu-categorias-title .stretchChildrenWidth {
  width: 50%;
}
.flexRowContent--menu-departamentos-title .flexCol--menu-departamentos-col{
  background:#fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 1rem 1rem;
}
.flexCol--menu-departamentos-col :global(.vtex-store-components-3-x-imageElementLink){
  padding: 5px 10px;
  display: block;
}
.flexCol--menu-departamentos-col :global(.vtex-store-components-3-x-imageElement), .flexRowContent--mini-banners :global(.vtex-store-components-3-x-imageElement){
  border-radius: 5px;
}

.flexRow--slider-brands {
  background-color: #fff;
}

.flexRow--row-informativo {
  background-color: #2e3b42;
}

.flexRowContent--slider-brands {
  margin-top:0;
}
.flexRow--tabs-pdp :global(.vtex-rich-text-0-x-paragraph) {
  display: flex;
  align-items: center;
}

.flexColChild--col-bt-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRow--about-us-middle {
  background-color: #EB6A18;
}
.flexRow--about-us-middle :global(.vtex-rich-text-0-x-paragraph){
  font-size: 2rem;
}
.flexRow--form-contato :global(.vtex-styleguide-9-x-input) {
  border: .125rem solid #e3e4e6;
}
.flexRow--form-contato :global(.vtex-input) {
  margin-bottom: 20px;
  display: block;
}
.flexRow--form-contato :global(.vtex-input) :global(.vtex-input__label) {
  font-size: 1rem;
}
.flexRow--form-contato :global(.vtex-store-form-0-x-formSubmitContainer) {
  margin-top: 20px;
}

/* Section Newsletter */
.flexRow--section__newsletter{
  background: #e0e0e0;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-flexCol){
  display: contents;
  align-items: center;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  padding: 0.5rem 1rem;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-newsletter-1-x-emailInputContainer){
  margin-bottom: 5px;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-rich-text-0-x-headingLevel4){
  margin: 0px;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-rich-text-0-x-paragraph){
  margin-bottom: 0;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-store-newsletter-1-x-newsletterForm){
  width: 100%;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-store-newsletter-1-x-formSubmitContainer) .t-action--small{
  width: 100%;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-flex-layout-0-x-flexColChild):first-child{
  display: flex;
  width: 30%;
  align-items: center;
  padding-right: 1rem;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-flex-layout-0-x-flexColChild):last-child{
  display: flex;
  width: 70%;
  align-items: center;
  padding-left: 1rem;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-flex-layout-0-x-flexColChild):last-child :global(.vtex-rich-text-0-x-paragraph){
  font-size: 14px;
  line-height: 16px;
  color: gray;
}

.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child :global(.vtex-flex-layout-0-x-flexColChild):first-child{
  display: flex;
  width: 40%;
  align-items: center;
  padding-right: 1rem;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child :global(.vtex-flex-layout-0-x-flexColChild):last-child{
  display: flex;
  width: 60%;
  align-items: center;
  padding-left: 1rem;
}

/* Correções Mobile */
.flexCol--col-selling-prices-list{
  flex-direction: row;
  align-items: center;
}
.flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-listPrice){
  margin-right: 20px;
  font-size: 1.5rem;
}
.flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-sellingPrice) {
  font-size: 2rem;
}
:global(.vtex-sticky-layout-0-x-wrapper--stuck) .flexRow--search-bar-row-mobile{
  display: none;
}
.flexRowContent--pdp-view-buy :global(.vtex-slider-0-x-dotsContainer){
  display: none;
}
.flexRowContent :global(.vtex-slider-layout-0-x-paginationDotsContainer){
  bottom: -15px;
}
@media only screen and (max-width: 1024px) {
  .flexRowContent--menu-categorias-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media only screen and (max-width: 640px) {
  .flexRowContent--menu-categorias-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .flexCol--menu-categorias-container :global(.vtex-rich-text-0-x-headingLevel2) {
    font-size:1.5rem;
  }

  .flexCol--grid-shelf-spotlight {
    margin-bottom:1rem;
  }
  .flexRowContent--mini-banners {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .flexRowContent--mini-banners :global(.vtex-flex-layout-0-x-flexCol){
    padding-left: 3px;
    padding-right: 3px;
  }
  .flexCol--grid-shelf-spotlight :global(.vtex-flex-layout-0-x-flexRowContent) {
    padding-top: 0;
  }
  .flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-gallery) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: .5rem;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--grid-shelf-grid) :global(.vtex-product-summary-2-x-image){
    max-width: 150px!important;
    height: 150px!important;
  }
  .flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-listPrice){
    margin-right: 10px;
    font-size: .9rem;
  }
  .flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-sellingPrice) {
    font-size: 1rem;
  }
  .flexRowContent--results-row-desktop :global(.vtex-search-result-3-x-gallery--multiplegallery) :global(.vtex-product-summary-2-x-image){
    max-width: 150px!important;
    height: 130px!important;
  }
  .flexCol--stock-pdp{
    padding-top: 5px;
  }
}

.flexRowContent--main-header-mobile {
  background: #fff;
}
.flexRowContent--product-seals .flexCol {
  flex-direction: row;
  gap:0.5rem;
}
.flexRow--footer-contato-row{
  background: #D8D7D5;
  padding: 15px 0;
}
.flexRowContent--footer-contato-row, .flexRowContent--footer-row-horario, .flexRowContent--footer-row-whatsapp,.flexRowContent--footer-row-email{
  align-items: center;
}
.flexRowContent--footer-row-whatsapp :global(.vtex-store-link-0-x-link){
  text-decoration: none;
  color: #1C3664;
  font-weight: 500;
  font-size: 30px;
}
.flexRowContent--footer-contato-row :global(.vtex-rich-text-0-x-paragraph){margin: 0;}
.flexColChild--btn-comprar-prod :global(.vtex-button){
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
}

.flexRowContent--footer-bottom-pagamentos .stretchChildrenWidth{
  width: auto !important;
  padding: 0 15px 15px 0;
}

/*:global(.vtex-flex-layout-0-x-flexRow--footer-content-row) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  width: auto !important;
}*/
.flexCol--left-content{
  padding-right: 40px;
}
.flexRowContent--footer-row-social{
  max-width: 270px;
}
.flexRowContent--footer-bottom-row-duvidas{
  margin: 10px 0;
}
/* Mobile */
@media (max-width: 1023px) {
  .flexRowContent--mini-banners{
    display: flex;
    flex-wrap: wrap;
  }
  .flexRowContent--product-main-container, 
  .flexRowContent--product-description, 
  .flexRowContent--product-reviews,
  .flexRowContent--buy-together,
  .flexRowContent--pdp-view-buy,
  .flexRowContent--menu-categorias,
  .flexRowContent--questions-and-answers {
      padding: 0;
  }
  .flexRowContent--desc-prod-main{
    display: flex;
  }
  .flexRow--desc-prod-main .stretchChildrenWidth{
    width: auto !important;
    padding: 5px;
  }
}
.flexRow--desc-prod-all-main .flexRowContent--desc-prod-all-main{
  border-radius: 10px;
  border:1px solid #D9D9D9;
  padding: 10px 0;
  margin: 10px 0;
  background: #fff;
}
.flexRow--desc-prod-all-main .stretchChildrenWidth{
  flex-wrap: wrap;
}
.flexRow--desc-prod-main{
  width: 100%;
}
.flexRowContent--summaryListDesktop{position: relative;}
/* css reviews pq não funcionou em arquivo proprio de review */
:global(.vtex-reviews-and-ratings-2-x-container){
 max-width: 100%;
}
:global(.vtex-reviews-and-ratings-2-x-container) :global(.vtex-reviews-and-ratings-2-x-star--filled){
  color: #0072BB;
}
:global(.vtex-reviews-and-ratings-2-x-container) :global(.vtex-reviews-and-ratings-2-x-star--empty){
  color: #0072BB;
}
:global(.vtex-reviews-and-ratings-2-x-stars) :global(.vtex-reviews-and-ratings-2-x-star){
  color: #0072BB;
}
:global(.vtex-reviews-and-ratings-2-x-summaryContainer){
  display: flex;
  align-items: center;
}
:global(.vtex-reviews-and-ratings-2-x-summaryButtonContainer) :global(.vtex-button){
  background: transparent;
  border: 0;
  color: #000;
  text-decoration: underline;
  text-transform: lowercase;
  font-weight: 600;
}
:global(.vtex-reviews-and-ratings-2-x-summaryButtonContainer) :global(.vtex-reviews-and-ratings-2-x-loginLink){
  color: #000;
  font-size: 12px;
  font-weight: 700;
}
.flexRowContent--quadro-resumo{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #C4C4C4;
}
.flexRowContent--quadro-resumo .stretchChildrenWidth{
  border: 1px solid #C4C4C4;
  display: flex;
  align-items: center;
  border-bottom: 0;
  border-top: 0;
}   

/* Mobile */
@media (max-width: 1023px) {
  .flexRowContent--footer-bottom-pagamentos{
    text-align: center;
    justify-content: center;
  }
  .flexRowContent--footer-bottom-pagamentos .stretchChildrenWidth{
    width: auto !important;
    display: inline-block;
    margin: 5px;
  }
  .flexRowContent--footer-row-social{
    max-width: inherit;
    display: flex;
    justify-content: center;
  }
}
   
.flexRow--search-mob :global(.vtex-store-components-3-x-container){
  padding: 0;
}
.flexRowContent--minicart-footer{
  padding-bottom: 35px;
}
.flexCol--filterCol{
  padding-right: 25px;
}
.flexRowContent--footer-bottom-row .flexCol--col-pagamento{
  padding-right: 20px;
}
.flexRow--copyright-image{
  text-align: end;
}
.flexRowContent--copyright-image{
  padding: 0;
  margin: 0;
}
.flexRowContent--productPrice, .flexRowContent--productPriceDiscount{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.flexRowContent--productPriceDiscount .stretchChildrenWidth{
  width: auto !important;
}
.flexRowContent--btn-comprar-prod :global(.vtex-button){
  height: 70px;
}
.flexCol--productPrice{
  margin-bottom: 20px;
}
@media (min-width: 1024px){
.flexRow--pdp-view-buy :global(.vtex-store-components-3-x-container){
  padding-left: 0;
  padding-right: 0;
}
}
@media (max-width: 1024px){
  .flexRowContent--productPrice{
    display: block;
  }
}
.flexRowContent--grid-location-store{
  display: flex;
  flex-wrap: wrap;
}
.flexRowContent--grid-location-store .stretchChildrenWidth{
  width: 32% !important;
  background: #fff;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.flexRow--benefits{
  background: #EBF7FF;
  margin-bottom: 30px;
  margin-top: 50px;
}
.flexRowContent--benefits{
  margin: 0;
}

.flexRowContent--row-itens-benefits{
  align-items: center;
  justify-content: center;
}
.flexRowContent--row-itens-benefits .stretchChildrenWidth{
  width: auto !important;
  padding: 0 10px;
  max-width: 180px;
}
.flexRowContent--row-itens-benefits :global(.vtex-rich-text-0-x-paragraph){
  font-size: 12px;
}

.flexRowContent--mini-banners .stretchChildrenWidth{
  padding: 5px;
}
.flexRow--faixa-news-footer{
  background: #F8F8F8;
  height: 230px;
}
.flexRowContent--faixa-news-footer{
  background: #0072BB;
  position: relative;
  border-radius: 10px;
  height: 180px;
  padding: 0 20px;
}

@media (max-width: 1024px){
  .flexRowContent--row-itens-benefits-border{
    border-right: 0;
  }
  .flexRowContent--row-itens-benefits{
    display: flex;
  }
  .flexRowContent--row-itens-benefits :global(.vtex-rich-text-0-x-paragraph){
    font-size: 11px;
  }
  .flexRowContent--mini-banners .stretchChildrenWidth{
    padding: 10px 0;
  }
}
.flexRowContent--spot-price-flex{
  align-items: center;
  margin-bottom: 15px;
}
.flexRowContent--spot-price-flex .stretchChildrenWidth{
  width: auto !important;
  margin-right: 5px;
}
.flexRow--add-cart-prod-flex{
  margin: 20px 0;
}
.flexRow--add-cart-prod-flex :global(.vtex-button){
  height: 70px;
}
.flexColChild--itens-benefits-footer{
  display: flex;
  align-items: baseline;
  justify-content: center;
  min-height: 85px;
  height: auto !important;
}
.flexCol--left-content .flexColChild--left-content{
  height: auto !important;
  margin-bottom: 20px;
}
.flexRowContent--footer-row-social .stretchChildrenWidth{
  width: auto !important;
  margin-right: 20px;
}

@media (max-width: 1024px){
.flexRowContent--mapa-sandbox :global(.vtex-sandbox-iframe){
  width: 350px !important;
  height: 263px !important;
  margin-bottom: 15px;
}
}
.flexRow--minibannersblock{
  background: #EBF7FF;
  position: relative;
  height: 450px;
  margin-bottom: 200px;
}
.flexRowContent--minibannersblock{
  padding-top: 40px;
}
.flexCol--footer-menu1-link .flexColChild--footer-menu1-link{
  height: auto !important;
  padding-right: 22px;
}
.flexRowContent--copyright{
  margin: 0;
}
.flexRow--copyright{
  background: #0072BB;
}
.flexCol--minibannersblockcol{
  margin-bottom: 20px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.flexColChild--filterCol :global(.vtex-search-result-3-x-filters--layout){
  border:1.5px solid #C4C4C4;
  padding: 10px;
  border-radius: 3px;
}
.flexRow--brand-share{
  border-bottom: 1px solid #C4C4C4;
  min-height: 80px;
  margin-bottom: 20px;
}
.flexRowContent--btn-cart-prod :global(.vtex-button){
  background: #6BB947;
  border:0;
  height: 56px;
}
.flexRowContent--content-search{
  margin-bottom: 50px;
}
.flexRowContent--footer-bottom-pagamentos{
  flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.flexColChild--drawerInnerCol :global(.vtex-login-2-x-label)::before{
  content: 'Olá, faça seu ';
  color: #fff;
  font-weight: 400;
}
.flexColChild--drawerInnerCol :global(.vtex-login-2-x-label){
  max-width: 85% !important ;
  color: #E5A100 !important;
  font-weight: 700;
  font-size: 15px;
  padding: 0;
  display: block;
}
.flexColChild--drawerInnerCol :global(.vtex-login-2-x-profile){
  color: #fff !important;
  font-size: 16px;
  max-width: 220px;
  display: block;
}
.flexColChild--drawerInnerCol :global(.vtex-login-2-x-container) {
  position: absolute;
  top: 20px;
}
.flexColChild--drawerInnerCol :global(.vtex-login-2-x-buttonLink) :global(.vtex-button__label){
  padding: 0px;
}
.flexRowContent--product-assinatura{
  background: #eee;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}
.flexRowContent--product-assinatura .stretchChildrenWidth{
  display: block;
  width: 100% !important;
}
.flexRowContent--product-assinatura :global(.vtex-button){
background: #ffb812;
border:0;
color: #fff;
text-transform:capitalize;
}
