.wishlistIconContainer{
    position: absolute;
    top: 12px;
    right: 5px;
}
.wishlistIconContainer :global(.vtex-button){
    background: transparent !important;
    border:0 !important;
}
.iconSize{
    width: 32px;
    height: 32px;
}
