.totalProducts--layout{
    display: none;
}

:global(.vtex-search-result-3-x-filters--layout){
    min-width: 300px;
}

:global(.vtex-search-result-3-x-filter__container--especificacoes-tecnicas){
    display: none;
}

:global(.vtex-search-result-3-x-filterPopupTitle) :global(.vtex-search-result-3-x-orderByText){
    margin-right: 10px;
}
:global(.vtex-search-result-3-x-galleryLayoutOptionButton) :global(.vtex-store-icons-0-x-gridIcon), :global(.vtex-search-result-3-x-galleryLayoutOptionButton) :global(.vtex-store-icons-0-x-inlineGridIcon){
    margin-right: 10px;
}

:global(.vtex-search-result-3-x-filterItem) :global(.vtex-checkbox__label) {
    font-size: 14px;
    color: #717171;
}

@media only screen and (max-width: 640px) {
    :global(.vtex-search-result-3-x-filters--layout){
        min-width: auto;
    }
}
.gallery--grid, .gallery--list{
    padding-left: 0;
}
.galleryLayoutOptionButton{
    color: #D2D2D2;
}
.galleryLayoutOptionButton--selected{
    color: #0072BB;
}
.filterIcon .caretIcon{
    color: #0072BB;
}
.filterTitle {
    color: #000;
    font-weight: 700;
}