:global(.vtex-store-header-2-x-headerRowContainer--main-menu) .styledLinkContent {
    color:#0072BB;
    font-weight: 700;
    white-space: break-spaces;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
}
.styledLinkContainer--dropdown-departamentos{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 0px !important;
}
:global(.vtex-store-header-2-x-headerRowContainer--main-menu) .styledLinkContent--dropdown-departamentos {
    color: #fff;
    width: 160px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuContainerNav{width: 100%;}
.menuContainer {
    position: relative;
    width: 100%;
    justify-content: left;
    align-items: center;
}
.submenuWrapper{
   /* width: 100%;*/
    width: 70%;
    padding: 0;
    min-height: 200px;
}
:global(.vtex-category-menu-2-x) .departmentList {
    display: block;
    height: auto;
}
.styledLinkIcon--dropdown-departamentos{
    margin-right: 10px;
}

.menuItem--dropdown-departamentos{
    color:#fff;
    border-radius: 3px;
    text-align: center;
    height: 40px;
    background: #0072BB;
    margin-right: 1rem;
    min-width: 177px;
}
.styledLinkContent--dropdown-departamentos{
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    padding: 0 10px;
}

.menuItem--dropdown-departamentos .submenuContainer {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 96rem;
}

:global(.vtex-menu-2-x-styledLinkIcon) .c-action-primary  {
    color: #fecc16;
    width: 20px;
    height: 24px;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  :global(.vtex-menu-2-x-menuItem) :global(.vtex-menu-2-x-styledLinkContainer) {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.styledLinkContent--menu-top{
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}
.styledLinkIcon--menu-vendedor .rebel-pink {
    width: 25px;
    height: 25px;
}
.styledLinkContainer--menu-top{
    margin-left: 0;
}
.menuItem--menu-objetivo .styledLinkContent--menu-objetivo{
    color: #0072BB;
    font-size: 14px;
    font-weight: 700;
}
.menuItem--menu-objetivo .submenuWrapper--isOpen{
    border:0;
    margin: 0;
    width: 100% !important;
    min-height: 100px !important;
}
.menuItem--menu-objetivo .menuContainer{
    padding: 10px;
    box-shadow: 1px 3px 7px 0px #ccc;
}
.menuItem--menu-objetivo .menuContainer .styledLinkContent {
    color: #717171;
    font-size: 14px;
    line-height: 17px;
}
.menuItem--menu-objetivo .styledLinkContent--menu-objetivo::after{
    display: block;
    width: 11px;
    height: 6px;
    margin-left: 5px;
    content: url(assets/svg/seta-objetivo.svg);
}
.menuItem{
    min-width: 200px;
}