.installments{
    font-size: 16px;
    color: #717171;
    text-align: left;
    line-height: 16px;
}
.installmentsNumber{
    font-size: 16px;
    color: #717171;
    font-weight: normal;
}
.installmentValue{
    font-size: 16px;
    color: #717171;
    font-weight: normal;
}
.installmentValue::before{
    content: ' de ';
    font-size: 16px;
    color: #717171;
    margin-right: 2px;
    font-weight: normal;
}
.sellingPrice {
    text-align: left;
}
.sellingPriceValue::after{
    /*content: ' à vista';*/
    font-size: 15px;
    color: #6C6C6C;
    margin-right: 2px;
    font-weight: 400;
}

.sellingPriceValue{
    color: #0072BB;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
}
:global(.vtex-product-summary-2-x-element--shelf) .sellingPriceValue{
    color: #0072BB;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
}
/* Mobile */
@media (max-width: 1023px) {
    :global(.vtex-product-summary-2-x-element--shelf) .sellingPriceValue{
        font-size: 17px;
    }
}

.installments--price-install-prod{
    font-size: 0px;
}
.installmentsNumber--price-install-prod, .installmentValue--price-install-prod{
    font-size: 24px;
    color: #0072BB;
}
.installmentsNumber--price-install-prod::after{
    font-size: 24px;
    margin-right: 5px;
    color: #0072BB;
}
.spotPriceSavings{
    background: #6bb947;
    padding: 5px 15px;
    border-radius: 15px;
}
.listPriceRange{
    color:#6C6C6C;
    font-size: 16px;
    font-weight: 400;
}
.sellingPrice{
    font-size: 15px;
    font-weight: 900;
    color: #6C6C6C;
}
.listPrice{
    text-align: left;
    /*border-top: 1px solid #959595;*/
    padding: 15px 0 10px 0;
    font-size: 12px;
    color: #282D2F;
}
.savings{
    display: none;
}