.headerRowBackground--main-header {
    background: #fff;
    padding: 25px 0;
    position: relative;
}
.headerRowContentContainer--main-menu {
    background:#fff;
}
.headerRowContainer{
    justify-content: space-between;
    position: relative;
}
.headerRowBackground--main-menu{
    background:#fff;
}
.headerRowBackground--top-bar{
    background: #0072BB;
}
.headerRowContainer--stick__header_desk{
    flex-wrap: wrap;
}
.headerRowBackground--stick__header_desk :global(.vtex-store-components-3-x-container){
    padding: 0 !important;
    max-width: 1920px !important;
}
.headerStickyRow--main-menu{
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    margin-bottom: 1px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.headerStickyRow--main-header{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}