.content {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0;
}
.box{
    min-width: 200px;
}
.contentForm{
    min-width: 170px;
}

.options {
    width: 50%;
}

.contentForm {
    width: 50%;
}
.formTitle{
    font-weight: bold;
    text-align: left;
    padding-left: 0;
}
.label{
    text-transform: initial;
    text-align: left;
    color: #0072BB;
    font-size: 14px;
    line-height: 17px;
    max-width: 135px;
    font-weight: 700;
}
.label::before{
    content: 'Olá, faça seu ';
   color: #717171;
   font-weight: 400;
}
.inputContainerAccessCode {
    font-size: 14px;
}
.profile{
    color: #717171;
    text-transform: initial;
    font-style: normal;
font-weight: normal;
font-size: 14px;
}
:global(.tfcvh6-metodo-localization-0-x-localizationInput) input {
  border: 2px solid #0072BB;
  padding: 10px;
  border-radius: .3rem;
  width: 143px;
  font-size: 1.5rem;
}
@media only screen and (max-width: 640px) {
    :global(.vtex-login-2-x-content) {
        margin-bottom: 30px;
    }
    .buttonLink :global(.vtex-button__label){
        padding-left: 1.8rem;
        padding-right: 0.1rem;
    }
}