:global(.vtex-slider-0-x-sliderFrame) :global(.vtex-shelf-1-x-slide){
    padding-left: .5rem;
    padding-right: .5rem;
}

@media (max-width: 1023px) {
    :global(.vtex-slider-0-x-sliderFrame) :global(.vtex-shelf-1-x-slide){
        padding-left: .3rem;
        padding-right: .3rem;
    }
  }