.drawer--menuDrawer,
.overlay--menuDrawer {
  z-index: 999;
}
.drawerContent {position: relative;}
.openIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 3px;
  height: 40px;
  background: #0072BB;
  min-width: 177px;

}
.openIconContainer::after{
  content: 'Menu';
  color: #fff;
  font-weight: 700;
  font-size: 14px;
    line-height: 14px;
}

.closeIconButton--menuDrawer {
  margin-left: auto;
}

.closeIconContainer--menuDrawer {
  background: #0072BB;
  margin-bottom: 20px;
  height: 100px;
}

.menuIcon {
  box-sizing: border-box;
  color: #fff;
  height: 48px;
  padding: 16px 18px;
  width: 58px;
}
.closeIcon--menuDrawer{
  color: #fff;
}

.childrenContainer--menuDrawer {
  padding: 0px 5px;
}

@media (max-width: 64rem) {
  .openIconContainer {
    margin-right: 5px;
  }

  .opened--menuDrawer{
    max-width: 350px !important;
  }
  .menuIcon {
    border-radius: 0;
    height: 24px;
    padding: 0;
    border: 0;
    width: 34px;
    color: #0072BB;
  }
  .openIconContainer {
    height: 40px;
    background: #fff;
    min-width: 50px;
  
  }
  .openIconContainer::after{
    content: '';
  }
}
.overlay--menuDrawer--visible{
  opacity: 0.7 !important;
  background-color: #000;
}