@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(assets/fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(assets/fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}